
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  line-height: 1.7;
  background: linear-gradient(140deg, #FC3636 8%, #FC7236 56%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 40px auto;
  padding-block: 2rem;
  padding-inline: 11vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 11vw;
}

.content {
  flex: 1;
}

.logo {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 170px;
  z-index: 10;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.3rem;
  font-weight: 800;
  letter-spacing: 0.06em;
  margin-bottom: 1.1rem;
}

p {
  font-size: 1.1rem;
}

.highlight {
  color: #FFFF33;
  font-weight: bold;
}


.cta-button {
  display: inline-block;
  margin: 1rem 0;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.06em;
  background: white;
  color: #e63946;
  border-radius: 20px;
  font-weight: 800;
  text-decoration: none;
  box-shadow: 4px 8px 0 #FFFF33;
}


.gradient-text {
  background: linear-gradient(to right, #FC7236, #FC3636 45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}


.caption {
  font-size: 0.9rem;
}

.phone {
  width: 400px;
  max-width: 100%;
  position: static;
  transform: none;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.2rem;
  }
}

