
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(140deg, #FC3636 8%, #FC7236 56%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 60px auto;
  padding-block: 2rem;
  padding-inline: 11vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 9vw;
}

.content {
  flex: 1;
}

.logo {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 200px;
  z-index: 10;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.1rem;
}

.highlight {
  color: #FFFF33;
  font-weight: bold;
}

.cta-button {
  display: block;
  width: fit-content;
  margin: 1.5rem 0;
  padding: 1rem 2rem;
  background: white;
  color: #e63946;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 4px 8px 0 #FFFF33;
}

.caption {
  font-size: 0.9rem;
}

.phone {
  width: 400px;
  max-width: 100%;
  position: static;
  transform: none;
}
